body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#game-container {
    text-align: center;
}

#track {
    width: 50px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow-y: hidden;
    margin-bottom: 20px;

    justify-content: center;
}

.tile {
    position: relative;
    left: 0;
    height: 0;
    width: 100%;
}

.dot {
    background-color: red;
    border-radius: 50%;
    height: 50px;
    transition: height 0.08s linear;
}

.dash {
    background-color: lightblue;
    border-radius: 20px;
    height: 150px;
    transition: height 0.24s linear;
}

.space {
    background-color: lightgrey;
    border-radius: 20px;
    height: 50px;
    transition: height 0.08s linear;
}

#keyboard {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.key {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 50%;
}

#score {
    margin-top: 20px;
}
